label {
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 1rem auto;
}

input[type=text] {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #ECEDF3;
  color: #ECEDF3;
  display: block;
  font-style: italic;
  height: 20px;
  margin: 1rem auto;
  outline: none;
  padding: 20px 0;
  margin: 40px;
  text-align: center;
  max-width: 340px;
  width: 100vw;
}

input[type=text]:focus {
  background-color: transparent;
}

button[type=submit] {
  display: block;
  border-radius: 20px;
  color: #3b0078;
  border: 1px solid #ECEDF3;
  background-color: #FEFEFE;
  box-shadow: 0px 0px 10px 1px #ECEDF3;
  padding: 10px 16px;
  font-weight: bold;
  margin: 1rem auto;
}
