.card {
  background-color: #fafafa;  
  border-radius: 10%;
  box-shadow: 0px 1px 10px 2px #ECEDF3;
  cursor: pointer;
  display: inline-grid;
  height: 120px;
  margin: 0 auto 20px;
  padding: 10px;
  place-items: center;
  text-align: center;
  vertical-align: text-bottom;
  width: 120px;
}

.card.moving {
  display: none;
}

.box .card {
  margin: -2px;
}
